<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChessBros - Play</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chess.css') }}"
    />
  </head>
  <body>
    <div class="header">Play Against ChessMax</div>
    <div class="score">
      <div id ="Score-Title">Scores</div>
      <div id ="White-Score">White:</div>
      <div id ="Black-Score">Black:</div>
      <div id ="Best-Move">Best Move: {{airesponse}}</div>
    </div>
    <div class="chess-container">
      <!--8th-->
      <div class="board-location" id="x0y7">
        <div class="piece" draggable="true" id="b-rook1">♜</div>
      </div>
      <div class="board-location" id="x1y7">
        <div class="piece" draggable="true" id="b-knight1">♞</div>
      </div>
      <div class="board-location" id="x2y7">
        <div class="piece" draggable="true" id="b-bishop1">♝</div>
      </div>
      <div class="board-location" id="x3y7">
        <div class="piece" draggable="true" id="b-queen">♛</div>
      </div>
      <div class="board-location" id="x4y7">
        <div class="piece" draggable="true" id="b-king">♚</div>
      </div>
      <div class="board-location" id="x5y7">
        <div class="piece" draggable="true" id="b-bishop2">♝</div>
      </div>
      <div class="board-location" id="x6y7">
        <div class="piece" draggable="true" id="b-knight2">♞</div>
      </div>
      <div class="board-location" id="x7y7">
        <div class="piece" draggable="true" id="b-rook2">♜</div>
      </div>
      <!--7th-->
      <div class="board-location" id="x0y6">
        <div class="piece" draggable="true" id="b-pawnA7-">♟</div>
      </div>
      <div class="board-location" id="x1y6">
        <div class="piece" draggable="true" id="b-pawnB7-">♟</div>
      </div>
      <div class="board-location" id="x2y6">
        <div class="piece" draggable="true" id="b-pawnC7-">♟</div>
      </div>
      <div class="board-location" id="x3y6">
        <div class="piece" draggable="true" id="b-pawnD7-">♟</div>
      </div>
      <div class="board-location" id="x4y6">
        <div class="piece" draggable="true" id="b-pawnE7-">♟</div>
      </div>
      <div class="board-location" id="x5y6">
        <div class="piece" draggable="true" id="b-pawnF7-">♟</div>
      </div>
      <div class="board-location" id="x6y6">
        <div class="piece" draggable="true" id="b-pawnG7-">♟</div>
      </div>
      <div class="board-location" id="x7y6">
        <div class="piece" draggable="true" id="b-pawnH7-">♟</div>
      </div>
      <!--empty middle-->
      <!--6th-->
      <div class="board-location" id="x0y5"></div>
      <div class="board-location" id="x1y5"></div>
      <div class="board-location" id="x2y5"></div>
      <div class="board-location" id="x3y5"></div>
      <div class="board-location" id="x4y5"></div>
      <div class="board-location" id="x5y5"></div>
      <div class="board-location" id="x6y5"></div>
      <div class="board-location" id="x7y5"></div>
      <!--5th-->
      <div class="board-location" id="x0y4"></div>
      <div class="board-location" id="x1y4"></div>
      <div class="board-location" id="x2y4"></div>
      <div class="board-location" id="x3y4"></div>
      <div class="board-location" id="x4y4"></div>
      <div class="board-location" id="x5y4"></div>
      <div class="board-location" id="x6y4"></div>
      <div class="board-location" id="x7y4"></div>
      <!--4th-->
      <div class="board-location" id="x0y3"></div>
      <div class="board-location" id="x1y3"></div>
      <div class="board-location" id="x2y3"></div>
      <div class="board-location" id="x3y3"></div>
      <div class="board-location" id="x4y3"></div>
      <div class="board-location" id="x5y3"></div>
      <div class="board-location" id="x6y3"></div>
      <div class="board-location" id="x7y3"></div>
      <!--3rd-->
      <div class="board-location" id="x0y2"></div>
      <div class="board-location" id="x1y2"></div>
      <div class="board-location" id="x2y2"></div>
      <div class="board-location" id="x3y2"></div>
      <div class="board-location" id="x4y2"></div>
      <div class="board-location" id="x5y2"></div>
      <div class="board-location" id="x6y2"></div>
      <div class="board-location" id="x7y2"></div>
      <!--2nd-->
      <!--black side-->
      <div class="board-location" id="x0y1">
        <div class="piece" draggable="true" id="w-pawn1">♙</div>
      </div>
      <div class="board-location" id="x1y1">
        <div class="piece" draggable="true" id="w-pawn2">♙</div>
      </div>
      <div class="board-location" id="x2y1">
        <div class="piece" draggable="true" id="w-pawn3">♙</div>
      </div>
      <div class="board-location" id="x3y1">
        <div class="piece" draggable="true" id="w-pawn4">♙</div>
      </div>
      <div class="board-location" id="x4y1">
        <div class="piece" draggable="true" id="w-pawn5">♙</div>
      </div>
      <div class="board-location" id="x5y1">
        <div class="piece" draggable="true" id="w-pawn6">♙</div>
      </div>
      <div class="board-location" id="x6y1">
        <div class="piece" draggable="true" id="w-pawn7">♙</div>
      </div>
      <div class="board-location" id="x7y1">
        <div class="piece" draggable="true" id="w-pawn8">♙</div>
      </div>
      <!--1st-->
      <div class="board-location" id="x0y0">
        <div class="piece" draggable="true" id="w-rook1">♖</div>
      </div>
      <div class="board-location" id="x1y0">
        <div class="piece" draggable="true" id="w-knight1">♘</div>
      </div>
      <div class="board-location" id="x2y0">
        <div class="piece" draggable="true" id="w-bishop1">♗</div>
      </div>
      <div class="board-location" id="x3y0">
        <div class="piece" draggable="true" id="w-queen">♕</div>
      </div>
      <div class="board-location" id="x4y0">
        <div class="piece" draggable="true" id="w-king">♔</div>
      </div>
      <div class="board-location" id="x5y0">
        <div class="piece" draggable="true" id="w-bishop2">♗</div>
      </div>
      <div class="board-location" id="x6y0">
        <div class="piece" draggable="true" id="w-knight2">♘</div>
      </div>
      <div class="board-location" id="x7y0">
        <div class="piece" draggable="true" id="w-rook2">♖</div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='chess.js') }}"></script>
  </body>
</html>
