<!doctype html>
<!-- This is an HTML file that uses INLINED CSS and not CSS in a separate file -->
<html>
  <head>
    <title>ChessBros</title>
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="ChessBros - Your Ultimate Chess Companion"
    />
    <meta
      name="keywords"
      content="Chess, AI, ChessBros, Chess Companion, Chess Moves"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body
    style="
      background-image: linear-gradient(
        to right,
        rgb(0, 12, 182),
        rgb(108, 0, 141)
      );
    "
  >
    <nav>
      <ul>
        <li><a href="/">Cathedral</a></li>
        <li><a href="/">Play</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/">Portfolio</a></li>
      </ul>
      <ul class="sidebar">
        <li><a href="/">Cathedral</a></li>
        <li><a href="/">Play</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/">Portfolio</a></li>
        <li onclick="showSidebar()">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="26"
              viewBox="0 -960 960 960"
              width="26"
              fill="#e3e3e3"
            >
              <path
                d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
              /></svg
          ></a>
        </li>
      </ul>
    </nav>
    <div
      style="
        width: 101%;
        height: 200px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      "
    >
      <h1
        style="
          text-align: center;
          color: white;
          font-size: xx-large;
          font-weight: bolder;
          font-family:
            &quot;Lucida Sans&quot;, &quot;Lucida Sans Regular&quot;,
            &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Geneva,
            Verdana, sans-serif;
        "
      >
        ChessBros
      </h1>
    </div>
    <h1
      style="
        text-align: flex-start;
        margin-bottom: 1em;
        color: white;
        font-family:
          &quot;Lucida Sans&quot;, &quot;Lucida Sans Regular&quot;,
          &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Geneva,
          Verdana, sans-serif;
      "
    >
      ChessMax Response
    </h1>
    <!-- Python inserts the variable here -->
    <p
      style="
        text-align: flex-start;
        color: white;
        font-family:
          &quot;Gill Sans&quot;, &quot;Gill Sans MT&quot;, Calibri,
          &quot;Trebuchet MS&quot;, sans-serif;
      "
      id="aiResponse"
    >
    </p>

    <form
      style="text-align: flex-start; margin-top: 1em; margin-bottom: 1em"
      id="chessForm"
    >
      <input
        type="text"
        id="lastmove"
        name="lastmove"
        placeholder="Enter last move?"
      />
      <button id="moveButton" type="submit" style="margin-top: 1em">
        Submit to ChessMax
      </button>
    </form>
    <p style="text-align: flex-start; color: white; font-family: 'Gill Sans', sans-serif;"> 
    Recommended move and confidence level: {{content}} <br /> 
    <span id="aiResponse">Waiting for your move...</span>
    </p>
    
    </script>
  </body>
</html>
