<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChessBros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1 id="Welcome"> Welcome to ChessBros!</h1>
    <nav class = "navbar"> <div>
        <ul>
        <li><a id = "ChessBoardLink" href="http://192.168.1.64:5000/chess" target="_blank">Play</a></li>
        <li><a id = "Settings" href="http://192.168.1.64:5000/settings" target="_self">Settings</a></li>
        <li><a id = "Portfolio" href="https://cd-us.replit.app/" target="_self">Portfolios</a></li>
     </ul>
    </nav></div>

    <h2 id="Description">About The Developers Behind ChessBros</h2>

    <p><div id="DescriptionParagraph"> ChessBros is a project by two high school sophomores, in which we have designed a game where you can play chess against an AI or your friend. We have also designed an AI that can give you the best possible move in your position (Toggled on by default).</div></p>
    <iframe class = "iframe"src="https://cd-us.replit.app/" title="Developer Website"
        width="90%" 
        height="400" 
        style="border: 2px solid darkblue" 
    >
    </iframe>

<h2 id="ChessMax">Meet the AI Behind the Scenes</h2>
<p><div id="AIdescriptionparagraph">The AI behind the scenes goes by two names that we have given him, ChessMax and Bob, as of writing this, he is currently being trained and having his base model code reverse-engineered as we had previously vibe-coded him.</div></p>

<script src="index.js"></script>

</body>
</html>