<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About ChessBros</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/settings.css') }}"
    />
  </head>
  <body>
    <ul>
  <li><a id="Back" href="{{ url_for('home') }}">Back to Landing Page</a></li>
</ul>

    <h1>Would you like to play against ChessMax?</h1>
    <button id = "confirm"> Yes </button>
    <button id = "deny"> No </button>
  </body>
  <script src="{{ url_for('static', filename='settings.js') }}"></script>
</html>

